<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% load staticfiles %}
{% block content %}
<html>
<head>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d120604.74281915346!2d77.31159350174006!3d19.15593231837211!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdb5cf2c503f66628!2sShri%20Guru%20Gobind%20Singhji%20Institute%20of%20Engineering%20and%20Technology!5e0!3m2!1sen!2sin!4v1573798710613!5m2!1sen!2sin" width="1400" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
      

</body>
{% endblock %}
</html>