<!DOCTYPE html>
{% extends "base1.html" %}
{% load staticfiles %}
{% block content %}



<html>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet">
	   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
	
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">             
	
<tablestyle = width : " 100% "; position : absolute;>
<table border = "1" id="mytable" class="table  table-striped table-bordered  ">
	    <thead class="thead-dark"></thead>
		<h1 align="center"> Student Database </h1>
        	<tr>
        		<th width = "25%">
				Name
			</th>
         		<th width = "25%">
				Email id
			</th>
            		<th width = "10%">
				FE Score
			</th>
            		<th width = "10%">
				SE Score
			</th>
            		<th width = "10%">
				TE Score
					</th>
				<th width = "10%">
				Aggregate
			</th>
			<th width = "5%">
				Actions
			</th>
        <tbody>
        {%for s in s_details %}
		<tr>
        	    <td>{{s.FirstName}}</td>
                <td>{{s.EmailID}}</td>
                <td>{{s.Fagg_percentage}}</td>
                <td>{{s.Sagg_percentage}}</td>
                <td>{{s.Tagg_percentage}}</td>
				<td>{{s.Total}}</td>
                <td>
						<a href="/edit/{{s.id}}"class="btn btn-outline-info rounded-circle"><i class="fas fa-user-edit"></i></a><br>
						<a href="/delete/{{s.id}}" class="btn btn-outline-info rounded-circle">Placed</a>
						<a href="/per_delete/{{s.id}}"  class="btn btn-border border-danger rounded-circle"><i class="fas fa-trash-alt"></i></a>
					</td>
        </tr>
        {% endfor %}
        </tbody>
</table>
<div_id = "Banner"></div>


<form id="form"  action="{% url 'email' %}" method="POST">
	{% csrf_token %}
	<input type="text" placeholder="Enter Message" name="m">
	<!----------
<button style = " width = 50px; height = 40px; position : absolute; right: 440 px; top : 20; ">
	------------
	<button class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span> -->
	<button class="btn"><i class="fa fa-envelop" ></i>
       	Send Mail
</button>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js">
		</script>
		<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.print.min.js"></script>
		<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
		
		
		<script>
			$('document').ready(function () {
		  $(document).ready(function () {
			$('#mytable').DataTable({
		
			 "scrollY": "460px",
			 "scrollCollapse": true,
			  dom: 'lBfrtip',
			  buttons: [{
				  extend: 'copy',
				  text: '<span > Copy <i class="fas fa-copy"></i></span>',
				  className: 'btn btn-outline-info btn-lg mx-sm-3',
				  titleAttr: 'Copy table'
				},
				{
				  extend: 'pdfHtml5',
				  download: 'open',
				  text: '<span > Export To Pdf <i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>',
				  className: 'btn btn-outline-danger btn-lg mr-sm-3',
				  titleAttr: 'Export to PDF'
				},
				{
				  extend: 'excelHtml5',
				  text: '<span> Export To Excel <i class="fa fa-file-excel-o" aria-hidden="true"></i></span>',
				  className: 'btn btn-outline-success btn-lg mr-sm-3',
				  titleAttr: 'Export to Excel'
				},
				{
				  extend: 'csv',
				  text: '<span> Export To CSV <i class="fas fa-file-csv"></i></span>',
				  className: 'btn btn-outline-primary btn-lg mr-sm-3',
				  titleAttr: 'Export to CSV'
				},
				{
				  extend: 'print',
				  text: '<span>Print <i class="fa fa-print" aria-hidden="true"></i></span>',
				  className: 'btn btn-outline-secondary btn-lg mr-sm-3 mt-sm-0 mt-2',
				  titleAttr: 'Print',
		
				  exportOptions: {
					modifier: {
					  selected: null
					}
				  }
				}
			  ],
			  select: true
			});
		  });
		
		});
		</script>
		
		


</body>
</html>

{% endblock %}