<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% load staticfiles %}
{% block content %}
<html>
<head>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>



<body>

<div class="container">


 <h1 class="bg-info text-white  display-3 ">You have already registered!</p>

<p class=" bg-dark text-white  lead"><strong>Please check your Email</strong> for further instructions </p>

 <hr>

</div>

</body>
{% endblock %}
</html>